

# .env
NODE_ENV=production
PORT=3000
SESSION_SECRET=
DRY_RUN=0
DISABLE_PRUNING=0

# Logging
LOG_LEVEL=INFO

# File Storage Paths
STORAGE_PATH=

# Authentication
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=

# Jellyfin - MAKE SURE THESE ARE SET!
JF_URL=
JF_API_KEY=
JF_UID=
JF_LIBID=

# YouTube
YT_API_KEY=