# .env
NODE_ENV=production
PORT=3000
SESSION_SECRET=
DRY_RUN=0
DISABLE_PRUNING=0

# Logging
LOG_LEVEL=INFO

# File Storage Paths
STORAGE_PATH=

# Authentication
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=

# YouTube
YT_API_KEY=