# .env
NODE_ENV=
PORT=
SESSION_SECRET=

# File Storage Paths
STORAGE_PATH=

# Authentication
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=

# Jellyfin - MAKE SURE THESE ARE SET!
JF_URL=
JF_API_KEY=
JF_UID=
JF_LIBID=

# YouTube
YT_API_KEY=